<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Your Hobby List</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/lib")
    @*@Scripts.Render("~/bundles/jqueryval")*@

    @if (TempData.ContainsKey("success"))
    {
        <script>toastr.success("@TempData.SingleOrDefault(x => x.Key == "success").Value")</script>
    }
    else if (TempData.ContainsKey("fail"))
    {
        <script>toastr.success("@TempData.SingleOrDefault(x => x.Key == "fail").Value")</script>
    }

    @RenderSection("scripts", required: false)

</body>
</html>