@model MyBookList.ViewModels.MovieFormViewModel

@using (Html.BeginForm("Update", "Movies", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Director)
        @Html.TextBoxFor(m => m.Director, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0}:d MMM yyyy", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MovieGenreId)
        @Html.DropDownListFor(m => m.MovieGenreId, new SelectList(Model.MovieGenres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Image", new { @class = "form-control" })
        <input type="file" name="UploadImage" class="input-files" id="imgInp" />
        @if (Model.ImageId == 8 || Model.ImageId == 0)
        {
            <img id="image1" src="~/Content/default.jpg" alt="your image" style="width: 210px;height:300px" />
            <img id="image2" src="~/Content/default.jpg" alt="your image" style="width: 70px;height:100px" />
        }
        else
        {
            <img id="image3" src='@Url.Action("ShowFull", "Image", new { id = Model.ImageId})' style="width: 210px;height:300px" />
            <img id="image4" src='@Url.Action("ShowMini", "Image", new { id = Model.ImageId})' style="width: 70px;height:100px" />
        }
    </div>

    @Html.HiddenFor(m => m.Id);
    <div style="text-align:right;">
        <button type="submit" id="accountprofileedit-submit" name="accountprofileedit-submit" value="Edit Account" class="btn btn-primary" style="margin-left:5px;">Save</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
}
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image1').attr('src', e.target.result);
                $('#image2').attr('src', e.target.result);
                $('#image3').attr('src', e.target.result);
                $('#image4').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
</script>