@model MyBookList.ViewModels.MovieFormViewModel

@using (Html.BeginForm("Update", "Movies", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Director)
        @Html.TextBoxFor(m => m.Director, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0}:d MMM yyyy", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MovieGenreId)
        @Html.DropDownListFor(m => m.MovieGenreId, new SelectList(Model.MovieGenres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="imgInp3" class="label-for-input">Choose a file</label>
        <div id="movieImages">
            <input type="file" name="UploadImage" class="input-files" id="imgInp3" />
            @if (Model.ImageId == 8 || Model.ImageId == 0)
            {
                <img id="image1" src="~/Content/Images/default.jpg" alt="your image" style="width: 210px;height:300px" />
            }
            else
            {
                <img id="image2" src='@Url.Action("ShowFull", "Image", new { id = Model.ImageId})' style="width: 210px;height:300px" />
            }
        </div>
    </div>

    @Html.HiddenFor(m => m.Id);
    <div style="text-align:right;">
        <button type="submit" id="accountprofileedit-submit" name="accountprofileedit-submit" value="Edit Account" class="button-for-modal" style="margin-left:5px;">Save</button>
        <button type="button" class="button-for-modal" data-dismiss="modal">Cancel</button>
    </div>
}