@model MyBookList.ViewModels.BookFormViewModel
@{
    ViewBag.Title = "BookForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

@using (Html.BeginForm("Update", "Books", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Author)
        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate,"{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BookGenreId)
        @Html.DropDownListFor(m => m.BookGenreId, new SelectList(Model.BookGenres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Image", new { @class = "form-control" })
        <input type="file" name="UploadImage" class="input-files" />
    </div>


    @Html.HiddenFor(m => m.Id);
    <button type="submit" class="btn btn-primary">Save</button>
}

<p>
    @Html.ActionLink("Return", "Index", "Books", null, new { @class = "btn btn-primary" })
</p>