@model MyHobbyList.ViewModels.AdminPanelIndexView
@{
    ViewBag.Title = "TicketDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TicketDetails</h2>


    <p>@Model.TicketTitle</p>
    <p>@Model.TimeSend</p>
    <p>@Model.SendingUserName</p>
    <p>@Model.TicketBody</p>

    <p>@Html.ActionLink("Delete this ticket", "DeleteTicket","Admin", new { id = Model.Id }, null)</p>
