@model MyHobbyList.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var isUserActive = (MyHobbyList.Models.AccountState)ViewBag.IsBanned == MyHobbyList.Models.AccountState.Active ? true : false;
}
<link rel="stylesheet" type="text/css" href="~/Content/styles/Modals.css" />
<link rel="stylesheet" type="text/css" href="~/Content/styles/UserStyles.css" />

<div id="actions">
    @if (isUserActive)
    {
        <button id="ShowBookModal" type="button" class="btn btn-primary"> Add new Book </button>
        <button id="ShowMovieModal" type="button" class="btn btn-primary"> Add new Movie </button>
        <button id="ShowGameModal" type="button" class="btn btn-primary"> Add new Game </button>
    }
    <button id="SendTicket" type="button" class="btn btn-primary"> Send Ticket </button>
    @Html.ActionLink("Show recommendations", "ShowRecommendationsAgain", null, new { @class = "btn btn-primary" })
</div>
<div id="items">
    @if (Model.BooksList.Any())
    {
        <h2>My Books</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="table-image"></th>
                    <th class="table-text">Book Title</th>
                    <th class="table-text">Your Rating</th>
                    <th class="table-text">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BooksList.ToList())
                {
                    <tr>
                        <td><img id="image" src='@Url.Action("ShowMini", "Image", new { id = item.ImageId})' height="100" width="70" /></td>
                        <td class="table-item">@Html.ActionLink(item.Title, "Details", "Book", new { id = item.Id }, null)</td>
                        <td class="table-item">@item.YourScore</td>
                        <td class="table-actions">@Html.ActionLink("Delete From My List", "DeleteEntityFromUserBase", "UserProfile", new { id = item.Id, elementType = MyHobbyList.Models.ElementType.Book }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.MoviesList.Any())
    {
        <h2>My Movies</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="table-image"></th>
                    <th class="table-text">Movie Title</th>
                    <th class="table-text">Your Rating</th>
                    <th class="table-text">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MoviesList.ToList())
                {
                    <tr>
                        <td><img id="image" src='@Url.Action("ShowMini", "Image", new { id = item.ImageId})' height="100" width="70" /></td>
                        <td class="table-item">@Html.ActionLink(item.Title, "Details", "Movie", new { id = item.Id }, null)</td>
                        <td class="table-item">@item.YourScore</td>
                        <td class="table-actions">@Html.ActionLink("Delete From My List", "DeleteEntityFromUserBase", "UserProfile", new { id = item.Id, elementType = MyHobbyList.Models.ElementType.Movie }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.GamesList.Any())
    {
        <h2>My Games</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="table-image"></th>
                    <th class="table-text">Game Title</th>
                    <th class="table-text">Your Rating</th>
                    <th class="table-text">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GamesList.ToList())
                {
                    <tr>
                        <td><img id="image" src='@Url.Action("ShowMini", "Image", new { id = item.ImageId})' height="100" width="70" /></td>
                        <td class="table-item">@Html.ActionLink(item.Title, "Details", "Game", new { id = item.Id }, null)</td>
                        <td class="table-item">@item.YourScore</td>
                        <td class="table-actions">@Html.ActionLink("Delete From My List", "DeleteEntityFromUserBase", "UserProfile", new { id = item.Id, elementType = MyHobbyList.Models.ElementType.Movie }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@if (Model.RecommendedEntities.Count() > 0)
{
    <div class="modal fade" id="Recommends" tabindex="-1" role="dialog" aria-labelledby="AccountEditModalLabel">
        <div class="modal-dialog" id="recommends-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5><strong>Recommended for you<span class="accountname"></span></strong></h5>
                </div>
                <div class="modal-body">
                    @Html.Partial("_Recommends", Model.RecommendedEntities)
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="Ticket" tabindex="-1" role="dialog" aria-labelledby="AccountEditModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3><strong>Please enter title and describe your problem<span class="accountname"></span></strong></h3>
            </div>
            <div class="modal-body">
                <div id="formContant">
                    @Html.Partial("_SendTicket", new MyHobbyList.Models.Ticket())
                </div>
            </div>
        </div>
    </div>
</div>

@if (isUserActive)
{
    <div class="modal fade" id="BookEdit" tabindex="-1" role="dialog" aria-labelledby="AccountEditModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3><strong>Enter new book values<span class="accountname"></span></strong></h3>
                </div>
                <div class="modal-body">
                    <div id="formContant">
                        @Html.Partial("_BookFormModal", new MyHobbyList.ViewModels.BookFormViewModel())
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MovieEdit" tabindex="-1" role="dialog" aria-labelledby="AccountEditModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3><strong>Enter new movie values<span class="accountname"></span></strong></h3>
                </div>
                <div class="modal-body">
                    <div id="formContant">
                        @Html.Partial("_MovieFormModal", new MyHobbyList.ViewModels.MovieFormViewModel())
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="GameEdit" tabindex="-1" role="dialog" aria-labelledby="AccountEditModalLabel">
        <div class="modal-dialog modalAccountEdit" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3><strong>Enter new game values<span class="accountname"></span></strong></h3>
                </div>
                <div class="modal-body">
                    <div id="formContant">
                        @Html.Partial("_GameFormModal", new MyHobbyList.ViewModels.GameFormViewModel())
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#Recommends').focus()
            $("#Recommends").modal('show');

            $('#BookEdit').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            $('#MovieEdit').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            $('#GameEdit').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            $('#Ticket').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            $("#SendTicket").click(function () {
                $("#Ticket").modal('show');
            });

            $("#ShowBookModal").click(function () {
                $("#BookEdit").modal('show');
            });

            $("#ShowMovieModal").click(function () {
                $("#MovieEdit").modal('show');
            });

            $("#ShowGameModal").click(function () {
                $("#GameEdit").modal('show');
            });

            $("#BookEdit #MovieEdit #GameEdit #Ticket").on("submit", "#form-bookformmodal", function (e) {
                e.preventDefault();

                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: form.serialize(),
                    success: function (partialResult) {
                        $("#formContent").html(partialResult);
                    }
                });
            });
        });

        function readURL(input, targetId) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#' + targetId + ' #image1').attr('src', e.target.result);
                    $('#' + targetId + ' #image2').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp1,#imgInp2,#imgInp3").change(function (e) {
            var id = $(e.target).parent().attr("id");
            readURL(this, id);
        });

    </script>
}

