@model MyBookList.ViewModels.GamesDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = Request.IsAuthenticated;

    var admin = this.User.IsInRole("Admin");
}

<table style="width:100%">
    <tbody>
        <tr>
            <td style="width:210px">
                <img id="image" src='@Url.Action("ShowFull", "Image", new { id = Model.ImageId})' height="300" width="210" />
            </td>
            <td style="height:300px">
                <ul style="list-style:none;">
                    <li style="font-size:24px;position: relative;text-align:center; font-style:italic; padding-bottom: 30px;">@Model.Title</li>
                    <li style="margin: 10px 0 10px 50px;"><p style="display: inline; margin-right: 10px;">Studio:</p>@Model.Studio</li>
                    <li style="margin: 10px 0 10px 50px;"><p style="display: inline; margin-right: 10px;">Genre:</p>@Model.GameGenre.Name</li>
                    <li style="margin: 10px 0 10px 50px;"><p style="display: inline; margin-right: 10px;">Release Date:</p>@Model.ReleaseDate.Day/@Model.ReleaseDate.Month/@Model.ReleaseDate.Year</li>
                </ul>
            </td>
            <td style="width:60%;text-align:center;position:relative;top:10px;">
                <p style="font-size:18px;padding:10px 5px 5px 5px;margin:0;position:absolute;top:2px;left:50%;transform:translateX(-50%);">Description:</p>
                @if (!String.IsNullOrWhiteSpace(Model.Description))
                {
                    <p style="padding:40px 10px;">@Model.Description</p>
                }
                <ul style="list-style:none;display: inline-flex;transform:translateX(-50%);position:absolute;bottom:5px;padding:10px;">
                    @for (var i = 1; i <= 10; i++)
                    {
                        var num = "" + i;
                        if (Model.YourScore >= i)
                        {
                            <li><img id="@num" src="~/Content/goldstar.png" style="float:left;width:20px;height:20px;cursor:pointer" /></li>
                        }
                        else
                        {
                            <li><img id="@num" src="~/Content/graystar.png" style="float:left;width:20px;height:20px;cursor:pointer" /></li>
                        }
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<table style:width="100%">
    <tr>
        @if (user && !Model.IsAdded)
            {
            <th>@Html.ActionLink("Add to my Base", "AddGameToUserBase", "UserProfile", new { id = Model.Id }, new { @class = "btn btn-primary" })</th>
        }
        else if (user)
        {
            <th style="color: lightgray" class = "btn btn-primary">Already Added</th>
        }
        @if ((Model.CanEdit && user) || admin)
        {
            <th><button id="btnShowModal" type="button" class="btn btn-primary"> Edit Game </button></th>
        }
        @if (!Model.InUse && user && Model.CanEdit)
            {
            <th>@Html.ActionLink("Delete this Game", "Delete", null, new { id = Model.Id }, new { @class = "btn btn-primary" })</th>
        }
        <th><button id="RecBook" type="button" class="btn btn-primary">Recommend</button></th>
    </tr>
</table>


@if (Model.SimiliarGames.Count() >= 6)
{
    <h2 style="width:100%;font-size:24px;text-align:center">Similiar Games</h2>
    <div class="row" style="width:100%;text-align:center;margin:0 auto;">
        @foreach (var item in Model.SimiliarGames)
        {
            <div class="col-sm-2">
                <img id="image" src='@Url.Action("ShowFull", "Image", new { id = item.ImageId })' height="200" width="140" />
                @Html.ActionLink(item.Title, "Details", "Games", new { id = item.Id }, null)
            </div>
        }
    </div>
}

<div class="modal fade" id="AccountEditModal" tabindex="-1" role="dialog" aria-labelledby="AccountEditModalLabel">
    <div class="modal-dialog modalAccountEdit" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3><strong>Edit this game<span class="accountname"></span></strong></h3>
            </div>

            <div class="modal-body">

                <div class="modal-body" id="form-container">
                    @Html.Action("Edit", "Games", new { id = Model.Id })
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="SendRecommend" tabindex="-1" role="dialog" aria-labelledby="AccountEditModalLabel">
    <div class="modal-dialog modalAccountEdit" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3><strong>Enter your friend nick<span class="accountname"></span></strong></h3>
            </div>

            <div class="modal-body">

                <div class="modal-body" id="form-container">
                    @Html.Partial("_RecommendGame")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @if (TempData.ContainsKey("success"))
    {
        <script>toastr.success("@TempData.SingleOrDefault(x => x.Key == "success").Value")</script>
    }
    else if (TempData.ContainsKey("fail"))
    {
        <script>toastr.success("@TempData.SingleOrDefault(x => x.Key == "fail").Value")</script>
    }

    <script>
        $(document).ready(function () {

            $('#AccountEditModal').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            $("#btnShowModal").click(function () {
                $("#AccountEditModal").modal('show');
            });

            $('#SendRecommend').on('shown.bs.modal', function () {
                $('#myInput').focus()
            })

            $("#RecBook").click(function () {
                $("#SendRecommend").modal('show');
            });

            $("#AccountEditModal #SendRecommend").on("submit", "#form-accountprofileedit", function (e) {
                e.preventDefault();  // prevent standard form submission

                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),  // post
                    data: form.serialize(),
                    success: function (partialResult) {
                        $("#formContent").html(partialResult);
                    }
                });
            });

            //score item function
            $("#1,#2,#3,#4,#5,#6,#7,#8,#9,#10").click(function (e) {

                e.preventDefault();

                var number = parseInt(event.target.id);

                $.ajax({
                    url:'@Url.Action("AddScore", "Games")', // comma here instead of semicolon
                    data: { id: @Model.Id, score: number },
                success: function ()
                {
                    for (var i = 1; i <= 10 ;i++)
                    {
                        if (i <= number)
                        {
                            $("#" + i).attr('src', '/Content/goldstar.png');
                        }
                        else
                        {
                            $("#" + i).attr('src', '/Content/graystar.png');
                        }
                    }

                }, false: function () { alert("dupa"); }
            });

            });
        });
    </script>
}





