@model IEnumerable<MyBookList.ViewModels.MovieIndexViewModel>

    @{
        ViewBag.Title = "title";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2 style="width:100%;text-align:center;">Movies List</h2>

<table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Movie Title</th>
            <th>Score</th>
            <th>Movie Director</th>
            <th>Release Date</th>
            <th>Movie Genre</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:80px;text-align:center"><img id="image" src='@Url.Action("ShowMini", "Image", new { id = item.ImageId})' height="100" width="70" /></td>
            <th>@Html.ActionLink(item.Title, "Details", "Movies", new { id = item.Id }, null)</th>
            <td>@item.AverageScore</td>
            <th>@item.Director</th>
            <th>@item.ReleaseDate.ToString("MM/dd/yyyy")</th>
            <th>@item.MovieGenre.Name</th>
        </tr>
    }
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "order": [],
                "columnDefs": [
                    { "targets": [0], "searchable": false, "orderable": false, "visible": true }
                ]
            });
        });
    </script>

    @if (TempData.ContainsKey("success"))
    {
        <script>toastr.success("@TempData.SingleOrDefault(x => x.Key == "success").Value")</script>
    }
    else if (TempData.ContainsKey("fail"))
    {
        <script>toastr.success("@TempData.SingleOrDefault(x => x.Key == "fail").Value")</script>
    }
}
